/* 003580;
#004cb8 */
.navbar {
  background-color: #003580;
  color: #fff;
  /* height: 50px; */
}

.navbar-container {
  width: 100%;
  max-width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.5rem 0;
}
.logo span {
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 0.2px;
}
.items {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  gap: 10px;
}

.currency,
.country-flag,
.question {
  /* width: 60px; */
  width: fit-content;
  height: 42px;
  border-radius: 6px;
  /* background-color: #105dc9; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 0 14px;
  /* margin: 0 10px; */
}

.currency {
  position: relative;
}

.currency span {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.question span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency:hover,
.country-flag:hover,
.question:hover {
  background-color: #105dc9;
  cursor: pointer;
}

.property {
  display: flex;
  align-items: center;
  justify-content: center;
}
.property button {
  font-size: 14px;
  outline: none;
  border: 0.4px solid #ddd;
  background: #29446bc2;
  color: #fff;
  padding: 10px 8px;
  border-radius: 1px;
}
.property button:hover {
  cursor: pointer;
  background: #003580;
}

.register {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100px; */
}
/*  */

.register {
  gap: 2px;
  display: flex;
}
.register button {
  /* padding: 2px 2px; */
  font-size: 14px;
  padding: 8px 8px;
  outline: none;
  background: white;
  color: #105dc9;
  border: none;
  margin: 0 4px;
}
.register button:hover {
  cursor: pointer;
  background: rgb(240, 246, 248);
  transition: 0.3s ease;
}
